Satisfy Any

RewriteEngine on
RewriteCond %{HTTP:HOST} elliotthiebaut.com
RewriteCond %{HTTP:Accept-Language} ^en [NC]
RewriteRule ^$ https://elliotthiebaut.com/en [L,R=301]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]